---
import '../assets/fontello.css';
import myPhoto from '../assets/my-photo.png';
---

<div id="container">
	<div class="left-container">
		<div class="left-inside-container">
			<div class="my-photo">
				<img src={myPhoto.src} alt="My Photo" class="my-photo"/>
			</div>
	        <div class="my-name">
				<p>Александр Соляр</p>
			</div>
			<div class="hr"></div>
		</div>
		<div class="left-inside-container">
	        <div class="my-contacts">
				<a href="mailto:anomaex@gmail.com" target="_blank" rel="noopener noreferrer"><span class="icon-mail"><span style="padding-left: 10px">anomaex@gmail.com</span></span></a>
				<br>
				<br>
				<a href="https://t.me/Anomaex" target="_blank" rel="noopener noreferrer"><span class="icon-telegram">Telegram</span></a>
				<br>
				<br>
				<a href="https://github.com/Anomaex" target="_blank" rel="noopener noreferrer"><span class="icon-github-circled">GitHub</span></a>
			</div>
		</div>
    </div>

    <div class="right-container">
		<div class="right-inside-container">
			<div class="info-container">
				<div class="info-container-name"><p>Front-End</p></div>
				<ul>
					<li>HTML</li>
					<li>CSS</li>
					<li>JavaScript (Базовые знания)</li>
					<li>Фреймворки (Базовые):
						<ul>
							<li>Astro</li>
							<li>Svelte</li>
							<li>React</li>
						</ul>
					</li>
					<li>Git & GitHub</li>
				</ul>
			</div>
			<div class="info-container">
				<div class="info-container-name"><p>Back-End</p></div>
				<ul>
					<li>C#</li>
					<li>Понимание принципов ООП</li>
					<li>SQL (MySql/MariaDB)</li>
					<li>C++ (Базовые)</li>
					<li>Rust (Базовые)</li>
				</ul>
			</div>
			<div class="info-container">
				<div class="info-container-name"><p>Graphics</p></div>
				<ul>
					<li>Adobe Photoshop</li>
					<li>Autodesk Maya:
						<ul>
							<li>Моделирование</li>
							<li>UV</li>
							<li>Rigging</li>
							<li>Animations</li>
						</ul>
					</li>
					<li>Adobe Substance 3D Painter</li>
					<li>Illustrator (Базовые)</li>
					<li>Blender (Базовые)</li>
				</ul>
			</div>
			<div class="info-container">
				<div class="info-container-name"><p>GameDev</p></div>
				<ul>
					<li>Unity (Windows, Android, *Ads)</li>
					<li>Godot (Windows, Android, *Ads)</li>
				</ul>
			</div>
			<div class="info-container">
				<div class="info-container-name"><p>ОС</p></div>
				<ul>
					<li>Windows 7, 10, 11 + Windows Server 2022 (Администрирование сервера)</li>
					<li>Linux:
						<ul class="sublist">
							<li>Debian (Администрирование сервера)</li>
							<li>Rocky Linux || AlmaLinux (Администрирование сервера)</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="info-container">
				<div class="info-container-name"><p>Я</p></div>
				<br>
				<p>
					Трудолюбивый, ответственный, легко обучаемый, прямолинеен.<br>

					Хобби - создание компьютерных игр, программирование, играть в компьютерные игры.<br>
					Так же люблю природу, спорт, здоровое питание, тишину, спокойствие.
				</p>
				<br>
				<div class="hr-r"></div>
				<br>
				<p>Владение разговорными языками:
					<ul>
						<li>Английский (Элементарный-Средний)</li>
						<li>Русский (Родной)</li>
						<li>Украинский (Родной)</li>
					</ul>
				</p>
			</div>
		</div>
    </div>
</div>

<style>
	body {
		margin: 0;
		padding: 0;
		font-size: 14px;
		font-family: Arial, sans-serif;
		background-color: #dbdbdb;
	}

	a {
		color: inherit;
		text-decoration: none;
	}

	div {
		margin: 0;
		padding: 0;
	}

	p {
		margin: 0;
		padding: 0;
	}

	#container {
		width: 100%;
		display: flex;
		min-height: 100%;
	}

	.left-container {
		float: left;
        width: 30%;
        background-color: #5a5a5a;
		min-height: 100%;
		color: white;
		min-width: 340px;
    }

	.left-inside-container {
		margin: 0 auto;
		width: 300px;
		padding: 20px;
		text-align: center;
	}

	.my-photo {
		margin: 0 auto;
		width: 200px;
		height: 200px;
		border: 1px solid white;
	}

	.my-name {
		font-size: 24px;
		font-weight: bold;
		text-align: center;
		padding: 30px
	}

	.hr {
		border: 0;
		height: 1px;
		background-color: rgba(255, 255, 255, 0.5);
	}

	.my-contacts {
		font-size: 20px;
		text-align: left;
	}

	.hr-r {
		border: 0;
		height: 1px;
		background-color: rgba(90, 90, 90, 0.5);
	}

    .right-container {
		float: left;
        width: 70%;
		min-height: 100%;
		color: black;
    }

	.right-inside-container {
		display: flex;
		flex-direction: column;
		padding: 10px;
	}

	.info-container {
		border: 1px solid #5a5a5a;
		padding: 20px;
		font-size: 18px;
		position: relative;
		margin-top: 30px;
	}

	.info-container-name {
		display: block;
		position: absolute;
		top: -18px;
		font-size: 22px;
		background-color: #5a5a5a;
		color: white;
		padding: 4px 12px;
	}

	@media (max-width: 680px) {
		#container {
			display: inline;
		}
		.left-container, .right-container {
			width: 100%;
			float: none;
		}
	}
</style>
